@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
}
.first-section {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link li {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px;
}

.navbar {
  display: flex;
}

ul {
  display: flex;
}

.navbar-left,
.navbar-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #1f2937;
}

.content-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.content-caption {
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 95px;
}

.hero-img {
  width: auto;
  height: 300px;
  margin: 50px;
  padding-right: 100px;
}

.content {
  display: flex;
  flex-direction: row;
}

.content-left {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 145px;
  padding-top: 40px;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.hero-btn {
  background-color: #3882f6;
  color: white;
  width: 100px;
  margin-right: 242px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.second-section {
  background-color: peachpuff;
  padding-bottom: 60px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-img {
  padding: 5px;
  border-radius: 15px;
  display: flex;
  width: 300px;
  height: auto;
}

.card-caption {
  margin-left: 10px;
  padding-bottom: 50px;
}

.third-section {
  background-color: #e5e7eb;
}

.quote {
  text-align: center;
  font-size: 24px;
  color: #1f2937;
  padding-top: 30px;
}

.quote-author {
  text-align: center;
  padding-top: 10px;
}
